
.typed {
    font-family: 'Roboto Mono', monospace;
    background-color: #55E291;
    height: 75px;
    padding: 0 14px 0 7px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-size: 65px;
  }
.typed:before {
    content: '';
    background-color: black;
    width: 1px;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 7px;
  }
h2{
    font-style: italic;
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-align: justify;
    text-shadow: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: url(../adjuntos/a0b84053f1f77e43d3bdd6dffd053061.jpg);
    
}
div.titulo{
    color: whitesmoke;
    size: 50px;
    text-align: center;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: whitesmoke;
}
header {
    background:#25304f ;
    width: auto;
    position:absolute;
    z-index: 100;
    height: auto;
  }
nav {
    float: left;

  } 
nav ul {
    list-style: none;
    overflow: hidden; 
  }
nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 10px;
}
nav ul li a {
    display: block; 
    padding: 10px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    
}
nav ul li:hover {
    background: whitesmoke;
    display: block;
    position: relative;
    z-index:100; 

}
p{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: whitesmoke;
    
}
body {
    background-color:#000000;
}
.btn-neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 18px;
    text-decoration: none;
    overflow: hidden;
    transition: 2s;
}
.btn-neon:hover{
    background:#001143;
    box-shadow: 0 0 10px #3B1047, 0 0 40px
    #3B1047, 0 0 80px #3B1047;
    transition-delay: 1.5s;
}
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#a79efa);
}
.btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#a79efa);
}
.btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#a79efa);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
}